body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
section h1{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-gap: 2rem;
    margin: 1rem 3rem 1rem 3rem;
    grid-template-areas: 
        'servico1 servico2'
        'servico3 servico4'
        'servico5 .'
}
.container div{
    display: flex;
    background-color: #f0ecec;
    border: 0.1px #b3b0b0 solid;
    padding: 1rem;
}
.servico1{
    grid-area: servico1;
}
.servico2{
    grid-area: servico2;
}
.servico3{
    grid-area: servico3;
}
.servico4{
    grid-area: servico4;
}
.servico5{
    display: flex;
    justify-content:start;
    grid-area: servico5;
    
}
#returnBtn{
    text-decoration: none;
    background-color: #e4d9d9;
    padding: 1rem;
    margin: 0 1rem 0 4rem;
    border: 1px solid #9c9a9a;
    color: #000;
    border-radius: 0.4rem;
}
#returnBtn:hover{
    background-color: #bebebe;
    transition: 0.2s;
}
#auxBtn{
    text-decoration: none;
    background-color: #e4d9d9;
    padding: 1rem;
    border: 1px solid #9c9a9a;
    border-radius: 0.4rem;
    color: #000;
}
#auxBtn:hover{
    background-color: #bebebe;
    transition: 0.2s;
}